*{
	margin:0 auto;
	padding:0px;
}
.header{
	width:1000px;
	height:210px;
}
.header .logo{
	width:1000;
	height:100px;
	background-color: #aaa;
}
.header .logo h1{
	margin-left:30px;
	font-size: 30px
}
.header .nav{
	width:1000px;
	height:80px;
}
.nav-left{
	width:330px;
	height:1000px;
	float:left;
	margin-left:30px;
}
.nav-center{
	width:310px;
	height:1000px;
	float:left;
}
.nav-right{
	width:310px;
	height:1000px;
	float:left;
}
a{
	list-style: none;
	color:black;
}