*{
	margin:0;
	padding:0;
}
@font-face{
	font-family:chun; src:url(font/chun.otf);
}
.dk{
	width:1078px;
	margin:0 auto;
}
.dk .j1{
	position: relative;
	left:-950px;
	top:190px;
}
.dk .j2{
	position: relative;
	right:-42px;
	top:190px;
}
.header{
	width:960px;
	height:80px;
	margin:0 auto;
}
.logo{
	width:179px;
	height:80px;
	float:left;
}
.nav{
	width: 397px;
	height:80px;
	margin-left:221px;
}
.nav ul li{
	list-style:none;
	float:left;
	margin-right:30px;
	margin-top:34px;
	font-size:18px;
}
.header .nav ul li:hover{
    border-bottom:4px solid #2e2d2d;
    font-weight:bold;
}
.nav .a1{
	margin-right:0px;
}
.nav a{
	color:black;
	text-decoration: none
}
.banner{
	width:960px;
	height:641px;
	margin:0 auto;
}
.banner .b-left{
	width: 525px;
	height: 641px;
	float:left;
}
.banner .l-top{
	width: 525px;
	height: 270px;
}
.banner .l-top h3{
    font-family:chun;
    margin-top:62px;
    margin-left:11px;
}
.banner .l-top p{
	font-size:18px;
	margin-left:11px;
	font-family:Times New Roman;
	margin-top:34px;
}
.banner .l-bottom img{
	float:left;
    margin-left:10px;
}
.banner .l-bottom .t{
	width:160px;
	height:25px;
	float:right;
	margin-top:80px;
}
.banner .t .t1{
	width:15px;
	height: 15px;
	border-radius:15px;
	border:2px solid #cccccc;
	float:left;
	margin-left:10px;
}
.banner .t .t2{
	width:15px;
	height: 15px;
	border-radius:15px;
	border:2px solid #cccccc;
	float:left;
	margin-left:10px;
	background-color: red;
}
.banner .t .t3{
	width:15px;
	height: 15px;
	border-radius:15px;
	border:2px solid #cccccc;
	float:left;
	margin-left:10px;
}
.banner .t .t4{
	width:15px;
	height: 15px;
	border-radius:15px;
	border:2px solid #cccccc;
	float:left;
	margin-left:10px;
}
.banner .t .t5{
	width:15px;
	height: 15px;
	border-radius:15px;
	border:2px solid #cccccc;
	float:left;
	margin-left:10px;
}
.banner .b-right{
	width:358px;
	height: 486px;
	float:left;
}
.container{
	height: 390px;
	background-image: url(images/7.jpg);
	margin-top:20px;
}
.container .cont{
	width:960px;
	height:390px;
	margin:0 auto;
}
.container .c-left{
	width:600px;
	height:389px;
    float:left;
}
.container .c-l-top h2{
	font-family:chun;
	font-size:24px;
	color:#ececec;
	margin-top: 46px;
}
.container .c-l-top .p1{
	font-family:DroidSerif;
	font-size: 16px;
	color:#ececec;
	margin-top:41px;
}
.container .c-l-top .p2{
    color:#ececec;
    margin-top:35px;
}
.container .cont .c-right{
     width: 357px;
     height:389px;
     float:left;
}
.container .c-right h2{
	font-family:chun;
	font-size:24px;
	color:#ececec;
	margin-top: 46px;
}
.container .c-right .hug{
	width:62px;
	height:62px;
	border-radius: 62px;
	background-color: #333333;
	text-align: center;
	line-height: 40px;
	float:left;
	font-weight: bold;
	font-size: 14px;
	color:#f4fff8;
}
.container .hug p{
	height:15px;

}
.container .c-right .w1 a{
	color:#666666;
	text-decoration: none
}
.container .c-right .k1{
	width:357px;
	height:62px;
	float:left;
	margin-top:39px;
}
.container .c-right .k2{
	width:357px;
	height:62px;
	float:left;
	margin-top:8px;
}
.container .c-right .k3{
	width:357px;
	height:62px;
	float:left;
	margin-top:8px;
}
.container .c-right .w1{
	margin-top:13px;
	margin-left:82px;
}
.container .c-right .w2{
	margin-top:10px;
	color:#ececec;
	margin-left:82px;
}
.footer{
	height:90px;
	background-image: url(images/9.jpg);
}
.footer .foot{
	width:960px;
	height:90px;
	margin:0 auto;
}
.footer .f-t{
	width:236px;
	float:left;
	font-size:12px;
	margin-top:36px;
	color:#fff;
}
.footer .f-u{
	width:510px;
	height:90px;
	margin-left:421px;
	font-size:12px;
}
.footer ul li{
	list-style:none;
	margin-top:36px;
	margin-left:16px;
	float:left;
}
.footer a{
	text-decoration: none;
	color:#fff;
}